@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    display: flex;
  }
  #root {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
